$maxlarge: 1600px;
$xlarge: 1440px;
$large: 1200px;
$medium: 1024px;
$small: 768px;
$tiny: 480px;

@mixin breakpoint($point) {
  @if $point == maxlarge {
    @media (max-width: $maxlarge) {
      @content;
    }
  } @else if $point == xlarge {
    @media (max-width: $xlarge) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: $large) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: $medium) {
      @content;
    }
  } @else if $point == mediumup {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: $small) {
      @content;
    }
  } @else if $point == smallup {
    @media (min-width: $small) {
      @content;
    }
  } @else if $point == tiny {
    @media (max-width: $tiny) {
      @content;
    }
  }
}
